@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #ffffff;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 260px;
  --font-base: "Bai Jamjuree";
}
body {
  background-color: var(--color-base2);
  font-family: var(--font-base), sans-serif;
}
.h-full {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
a {
  text-decoration: none;
  color: #000;
}
.nav-link {
  color: var(--color-body);
  transition: all 500ms ease;
}
nav .nav-link:hover {
  color: var(--color-brand);
}
img {
  width: 100%;
  /* height: 100%; */
}

/* NAVBAR */
.navbar {
  background-color: var(--color-base);
}
.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  /* color: #fff; */
}
.navbar .nav-link.active {
  color: var(--color-brand);
}
@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)),
      url(../images/logo.jpg);
    background-size: cover;
    position: center;
  }
  .navbar-brand img {
    border: 8px solid var(--color-brand);
  }
  section,
  footer {
    padding-left: var(--sidbar-width);
  }
}
/* CONTENT */
/* ****************** */
/* HOME */

#home .container h1 {
  color: var(--color-body);
  font-weight: 700;
}
.text-brand {
  color: var(--color-brand);
}
.lead {
  color: #76a0a0;
}

.btnWork {
  padding: 0.75rem 1.75rem;
  font-weight: 700;
  transition: 0.5s ease;
  border-radius: 12px;
}
.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  /* transition: 0.5s ease; */
}
.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  border-color: var(--color-brand2);
}
.custom-link {
  font-weight: 700;
  position: relative;
  transition: 0.5s ease;
  color: #96c7c7;
}
.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 120%;
  transition: 0.5s ease;
}
.custom-link:hover {
  color: var(--color-brand);
}
.custom-link:hover::after {
  width: 100%;
}
/* SERVICES */
.bg-brand {
  background-color: var(--color-brand);
}
.bg-base {
  background-color: var(--color-base);
}
.icon_box {
  cursor: pointer;
}
.shadow-effect {
  transition: all 0.5s ease;
}
.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}
.service_box {
  /* height: 29rem; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
/* CARD */
.card-custom-image {
  overflow: hidden;
}

.card-custom-image img {
  transition: all 0.4s ease;
}
.card-custom:hover img {
  transform: scale(1.1);
}
/* contact */
#contact .form-control {
  background: var(--color-base);
  border-color: var(--color-base);
  color: #fff !important;
}
#contact .form-control::placeholder {
  color: #76a0a0;
}

#contact input.form-control {
  height: 44px;
}
#contact button {
  height: 3rem;
}

footer .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 20rem;
  width: 40px;
  height: 40px;
  color: #76a0a0;
  transition: 0.5s ease;
}
footer .social-links a:hover {
  background-color: var(--color-brand);
  color: var(--color-base2);
}
