@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #ffffff;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 260px;
  --font-base: "Bai Jamjuree";
}
body {
  background-color: var(--color-base2);
  font-family: var(--font-base), sans-serif;
}
.h-full {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
a {
  text-decoration: none;
  color: #000;
}
.nav-link {
  color: var(--color-body);
  transition: all 500ms ease;
}
nav .nav-link:hover {
  color: var(--color-brand);
}
img {
  width: 100%;
  /* height: 100%; */
}

/* NAVBAR */
.navbar {
  background-color: var(--color-base);
}
.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  /* color: #fff; */
}
.navbar .nav-link.active {
  color: var(--color-brand);
}
@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)),
      url(../images/logo.jpg);
    background-size: cover;
    position: center;
  }
  .navbar-brand img {
    border: 8px solid var(--color-brand);
  }
  section,
  footer {
    padding-left: var(--sidbar-width);
  }
}
/* CONTENT */
/* ****************** */
/* HOME */

#home .container h1 {
  color: var(--color-body);
  font-weight: 700;
}
.text-brand {
  color: var(--color-brand);
}
.lead {
  color: #76a0a0;
}

.btnWork {
  padding: 0.75rem 1.75rem;
  font-weight: 700;
  transition: 0.5s ease;
  border-radius: 12px;
}
.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  /* transition: 0.5s ease; */
}
.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  border-color: var(--color-brand2);
}
.custom-link {
  font-weight: 700;
  position: relative;
  transition: 0.5s ease;
  color: #96c7c7;
}
.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 120%;
  transition: 0.5s ease;
}
.custom-link:hover {
  color: var(--color-brand);
}
.custom-link:hover::after {
  width: 100%;
}
/* SERVICES */
.bg-brand {
  background-color: var(--color-brand);
}
.bg-base {
  background-color: var(--color-base);
}
.icon_box {
  cursor: pointer;
}
.shadow-effect {
  transition: all 0.5s ease;
}
.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}
.service_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 27rem;
}

@media (min-width: 77.8125em) {
  .service_box {
    height: 21rem;
  }
}
@media (max-width: 767px) {
  .service_box {
    height: auto;
  }
}
/* @me */
/* Works */
.more {
  border: none;
  outline: none;
  background-color: transparent;
  /* animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) */
  /* forwards; */
  /* padding-bottom: 0 0 0.5rem; */
}

/* 
 background #f5f5f5
  display flex
  justify-content center
  align-items center
  width 100vw
  height 100vh
  .btn, .btn2
     width 300px
     height 100px
     font-size 30px
     text-align center
     line-height 100px
     color rgba(255,255,255,0.9)
     border-radius 50px
     background linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5)
     background-size 600%
     animation anime 6s linear infinite
  .btn2
     position absolute
     margin-top -70px
     z-index -1
     filter blur(30px)
     opacity 0.8
     
 @keyframes anime 
   0%
     background-position 0% 50%
   50%
     background-position 100% 50%
   100%
     background-position 0% 50%
  
  */

.more a {
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--color-body);
  outline: none;
  border: none;
  position: relative;
  width: fit-content;
  padding-bottom: 0.5rem;
  /* border: 1px solid var(--color-body); */
  /* border-radius: 12px; */
  /* margin-top: 2rem; */
  transition: 0.7s ease;
}
.more a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  transition: 0.7s ease;
}
/* .more a:hover {
  color: var(--color-brand);
}
.more a:hover::after {
  width: 100%;
} */
/* CARD */
.card-custom-image {
  overflow: hidden;
}

.card-custom-image img {
  transition: all 0.4s ease;
}
.card-custom:hover img {
  transform: scale(1.1);
}
/* contact */
#contact .form-control {
  background: var(--color-base);
  border-color: var(--color-base);
  color: #fff !important;
}
#contact .form-control::placeholder {
  color: #76a0a0;
}

#contact input.form-control {
  height: 44px;
}
#contact button {
  height: 3rem;
}

footer .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 20rem;
  width: 40px;
  height: 40px;
  color: #76a0a0;
  transition: 0.5s ease;
}
footer .social-links a:hover {
  background-color: var(--color-brand);
  color: var(--color-base2);
}
@media (min-width: 991px) {
  .about-item {
    height: 16.5rem;
  }
}
@media (min-width: 1066px) {
  .about-item {
    height: 14.5rem;
  }
}
@media (min-width: 1120px) {
  .about-item {
    height: 13.5rem;
  }
}
@media (min-width: 1200px) {
  .about-item {
    height: 12rem;
  }
}

@keyframes gradient {
  from {
    background: linear-gradient(90deg, #777e8088 0%, #099b3911 100%);
  }
  to {
    background: linear-gradient(90deg, #00ccff8c 0%, #d53a3a27 100%);
  }
}
.more {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #29a3bea6 0%, #040831a1 100%);

  /* background-color: ; */
  border-radius: 12px;
}
.more::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;

  animation: gradient 1s linear 0.5s infinite alternate-reverse;
}
.p-page {
  margin-top: 3rem;
}
